# Python
__pycache__/
*.py[cod]

# Ambientes virtuais
venv/
env/

# PyInstaller (Compilação)
build/
dist/
*.spec

# Dados Pessoais (Caso você queira manter sua planilha real localmente)
# controledegastos.xlsx
